*{
    margin: 0;
    padding: 0;
}
:root{
    --body-bg: #fcfcf4;
    --painel-bg: #5cb4cc;
    --comeco-bg: #fcece4;
    --meio-bg: #f4fcd4; 
    --final-bg: #dcf4e4;



}
body{
    background-color: var(--body-bg);
}
header {
    margin-bottom: 30px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.painel{
   background-color: var(--painel-bg);
   height: 43px;

  

}
.painel img{
    width: 35px;
    height: 35px;
    margin-top: 2px;
    margin-left: 350px;
   
}
.produtos{
    background-color: transparent;
    border: 2px solid var(--painel-bg);
    width: 250px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 90px;
    border-radius: 15px;
    padding: 5px;
 
}
.container {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
    
}
.fotinha {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

}
.fotinha img{
    width: 470px;
    height: 450px;
      
}
.card{
    background-color: transparent;
    border: 2px solid var(--painel-bg);
    width: 101dvh;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
}
.cards{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 60px;
    margin-top: 90px;
}
.meio{
    display: flex;
    background-color: var(--meio-bg);
    width: 100%;
    height: 500px;
    margin-top: 100px;
   
}
.conteudo{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

.propaganda{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-left: 2px;
    margin-top: 15px;
}
.prog{
    background-color: transparent;
    border: 2px solid var(--painel-bg);
    width: 210px;
    height: 236px;
    border-radius: 10px;
}
.bot img {
    width: 790px;
    height: 350px;
    
}
.bot{
    background-color: transparent;
    border: transparent; 
    opacity: 0.95;
    margin-left: 70px;
    margin-top: 30px;
}
.bot:active{
    transform: scale(0.80);
    transition: ease 0.8s;
}
.buttos{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.but img{
    width: 100px;
    height: 60px;

}
.but{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 150px;
    height: 200px;
    background-color: transparent;
    border: transparent;
    
}
.but:active{
    transform: scale(0.80);
    transition: ease 0.8s;
}
.dois{
    width: 90px;
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.um{
    margin-left: 5px;
    width: 200px;
    height: 40px;
}
.pro1 img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 250px;
    border-radius: 10px;
    margin-top: 5px;

}
.info{
    margin-top: 5px;
  
}
.seta{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--painel-bg);
    width: 45px;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 90px;
    img{
        width: 40px;
        height: 40px;
    }
}
.buts{
    margin-top: 25px;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border-color: transparent;
    background-color: var(--painel-bg);
    font-size: 20px;
    color: var(--body-bg);
    font-weight: bold;
}




@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}